/* ------------------------------------ ELEMENTS */

div.about {
    margin: 100px 35px;
}

div.description {
    display: block;
    width: 100%;
    margin-top: 25px;
    margin-right: 25px !important;
    padding: 15px 25px;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    font-weight: bold;
    background-color: #ffffff;
    color: #78c9b1;
    border-radius: 10px;
}

/* ------------------------------------ BUTTONS */

button.set-title {
    display: inline-block;
    padding: 7px 40px !important;
    font-size: 40px !important;
    font-weight: bold;
    border-radius: 50px;
    text-transform: lowercase;
}

button.split {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    padding: 5px 20px;
    font-size: 20px !important;
    font-weight: bold;
    border-radius: 50px;
    text-transform: lowercase;
    text-align: right;
    border: 2px solid transparent;
}

button.split:hover {
    background: white;
    color: #78c9b1;
    border: 2px solid #78c9b1;
}