/* ------------------------------------ GENERAL */

body {
    width: 100%;
    height: 100vh;
    margin: 0px !important;
    padding: 0px;
    background: -webkit-linear-gradient(90deg, #7ac36e, #78c9b1);
    background: -moz-linear-gradient(90deg, #7ac36e, #78c9b1);
    background: -o-linear-gradient(90deg, #7ac36e, #78c9b1);
    background: linear-gradient(90deg, #7ac36e, #78c9b1);
    background-repeat: repeat-y;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    overflow-x: hidden;
}

div.background {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

div.homepage {
    /*background: url("../../public/assets/images/main.jpg");*/
    background: url("https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cbe45d5a16eeb2c8009b0959f15db36a&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    overflow: hidden;
}

div.example-page {
    background: url("https://images.unsplash.com/photo-1447968954315-3f0c44f7313c?ixlib=rb-0.3.5&s=fe2f94cb8243ca4414e4ab231462999d&auto=format&fit=crop&w=1267&q=80");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    overflow: hidden;
}

div.container {
    width: 85%;
    margin: 0px auto;
}

div.fitpage {
    overflow: hidden;
}

/* ------------------------------------ HEADERS AND TEXT */

h2.subheading {
    margin-bottom: 15px;
    font-size: 35px;
    text-transform: lowercase;
    color: #ffffff;
}

h3.byline {
    display: inline-block;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 30px;
    text-transform: lowercase;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
}

/* ------------------------------------ SHARED CLASSES */

div.navbar {
    position: absolute;
    top: 0px;
    width: 100vw;
    margin: 0px !important;
    padding: 0px 10px;
    font-family: "Quicksand", sans-serif;
    font-size: 15px !important;
    font-weight: bold;
    text-transform: lowercase;
    text-align: left;
    overflow: hidden;
}

.gradient {
    background: -webkit-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: -moz-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: -o-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: linear-gradient(135deg, #7ac36e, #78c9b1);
    color: white;
}

button {
    border: none;
    border-radius: 10px;
    font-family: "Quicksand", sans-serif;
    text-align: center !important;
}

button:active, button:focus, button:hover {
    outline: none;
}

button.gradient-button {
    padding: 10px 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    font-weight: bold;
    background: -webkit-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: -moz-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: -o-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: linear-gradient(135deg, #7ac36e, #78c9b1);
    color: #ffffff;
}

button.white-button {
    padding: 5px 10px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
    color: #78c9b1;
}

button.outline-button {
    padding: 5px 10px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
}

.glyphicon {
    color: #78c9b1 !important;
    font-size: 50px;
}

/* ------------------------------------ FORMS */

input {
    display: block;
    width: 75%;
    margin: 10px auto;
    padding: 5px 10px;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px !important;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

input:active, input:focus {
    outline: none;
}

/* ------------------------------------ MEDIA QUERIES */

/* large devices <1200px */
@media (max-width: 1199px) { 
}

/* medium devices <992px */
@media (max-width: 991px) { 
}

/* small devices <768px */
@media (max-width: 767px) { 
}

/* tiny devices < 576px */
@media (max-width: 575px) { 
}