/* ------------------------------------ GENERAL */

body {
    width: 100%;
    margin: 0px !important;
    padding: 0px;
    background: -webkit-linear-gradient(90deg, #7ac36e, #78c9b1);
    background: -moz-linear-gradient(90deg, #7ac36e, #78c9b1);
    background: -o-linear-gradient(90deg, #7ac36e, #78c9b1);
    background: linear-gradient(90deg, #7ac36e, #78c9b1);
    background-repeat: repeat-y;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    overflow-x: hidden;
}

div.container {
    width: 85%;
    margin: 0px auto;
}

div.background {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

div.navbar {
    position: absolute;
    top: 0px;
    width: 100vw;
    margin: 0px !important;
    padding: 0px 10px;
    font-family: "Quicksand", sans-serif;
    font-size: 15px !important;
    font-weight: bold;
    text-transform: lowercase;
    text-align: left;
    overflow: hidden;
}

.gradient {
    background: -webkit-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: -moz-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: -o-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: linear-gradient(135deg, #7ac36e, #78c9b1);
    color: #ffffff;
}

/* ------------------------------------ HEADERS AND TEXT */

h1, h2, h3 {
    color: #78c9b1;
}

h2.subheading {
    margin-bottom: 15px;
    font-size: 35px;
    text-transform: lowercase;
    color: #ffffff;
}

h3.byline {
    display: inline-block;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 30px;
    text-transform: lowercase;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
}

/* ------------------------------------ BUTTONS */

button {
    border: none;
    border-radius: 10px;
    font-family: "Quicksand", sans-serif;
    text-align: center !important;
    text-transform: lowercase;
}

button:active, button:focus, button:hover {
    outline: none;
}

button.gradient-button {
    padding: 10px 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    font-weight: bold;
    background: -webkit-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: -moz-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: -o-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: linear-gradient(135deg, #7ac36e, #78c9b1);
    color: #ffffff;
}

button.white-button {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
    color: #78c9b1;
}

button.oversized {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 25px !important;
    border: 2px solid #ffffff;
}

button.oversized:hover {
    background: #78c9b1;
    color: #ffffff;
    border: 2px solid #ffffff;
}

/* ------------------------------------ FORMS */

input {
    display: block;
    width: 75%;
    margin: 10px auto;
    padding: 5px 10px;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px !important;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

input:active, input:focus {
    outline: none;
}

input.form-input {
    width: 100%;
    margin: 7px auto;
}

/* ------------------------------------ MEDIA QUERIES */

/* large devices <1200px */
@media (max-width: 1199px) { 
}

/* medium devices <992px */
@media (max-width: 991px) { 
    div.container {
        width: 90% !important;
    }
}

/* small devices <768px */
@media (max-width: 767px) { 
    div.container {
        width: 95% !important;
    }
}

/* tiny devices < 576px */
@media (max-width: 575px) { 
}