/* ------------------------------------ ELEMENTS */

div.info {
    margin: 85px 35px;
}

div.content {
	width: 100%;
	margin: 0px;
	margin-bottom: 25px;
	text-align: center;
}

button.mini-title {
    display: inline-block;
    padding: 5px 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
    text-transform: lowercase;
}

h1.question {
	margin: auto;
	margin-bottom: 25px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

h3.mini-byline {
    display: inline-block;
    margin-top: 12px;
    margin-left: 20px;
    font-size: 20px;
    text-transform: lowercase;
    color: #ffffff;
}

button.answer {
	display: block;
	width: 75%;
	margin: 7px auto;
}

button.answer:hover {
	background: #ffffff;
	color: #78c9b1;
}