/* ------------------------------------ ELEMENTS */

div.fitpage {
	margin-bottom: 15px;
}

div.info {
    margin: 75px auto 25px 25px;
}

div.content {
	width: 100% !important;
	margin: 0px;
	margin-bottom: 25px;
	text-align: center;
}

/* ------------------------------------ BUTTONS */

button.mini-title {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px 20px !important;
    border-radius: 25px;
    text-transform: lowercase;
}

button.score {
	position: absolute;
	right: 25px;
}

button.answer {
	display: block;
	width: 100%;
	margin: 7px auto;
	padding: 5px 20px !important;
	background: transparent;
    color: white;
    border: 2px solid white;
    font-size: 17px !important;
}

button.answer:hover {
   	border: 2px solid white;
	background: #ffffff;
	color: #78c9b1;
}

/* ------------------------------------ HEADERS AND TEXT */

h1.question {
	margin: auto;
	margin-bottom: 25px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

h3.mini-byline {
    display: inline-block;
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 20px;
    text-transform: lowercase;
    color: #ffffff;
}

/* ------------------------------------ PROGRESS BAR */

div.progress {
	position: fixed;
	width: 100%;
	bottom: 0px;
	height: 25px;
	margin: 5px 0px 0px 0px;
	padding-top: 10px;
	border-radius: 0px;
	background: -webkit-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: -moz-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: -o-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: linear-gradient(135deg, #7ac36e, #78c9b1);
    color: #ffffff;
}

div.progress-bar {
	min-width: 25px;
	padding-right: 5px;
	background: #ffffff;
	text-align: right;
	color: #78c9b1;
	font-weight: bold;
}

/* ------------------------------------ MEDIA QUERIES */

/* large devices <1200px */
@media (max-width: 1199px) { 
}

/* medium devices <992px */
@media (max-width: 991px) { 
	button.mini-title {
		display: block;
		margin-top: 5px;
	}
}

/* small devices <768px */
@media (max-width: 767px) { 
}

/* tiny devices < 576px */
@media (max-width: 575px) { 
	button.score {
		position: static;
	}

	h3.mini-byline {
		display: none;
	}
}