/* ------------------------------------ HEADERS AND TEXT */

h2.qh2 {
	margin-top: 25px;
	margin-bottom: 0px;
	font-size: 35px;
	font-weight: bold;
}

h3.qh3 {
	margin-top: 25px;
    margin-bottom: 15px;
    font-size: 25px;
    text-align: left;
    color: #ffffff;
}

/* ------------------------------------ BUTTONS */

button.save {
	margin-top: 25px;
}