div.filterholder {
    margin-top: 100px;
}

div.filterlist {
    margin-bottom: -100px;
}

button.filter {
   margin-right: 10px;
   margin-bottom: 5px;
   padding: 5px 20px !important;
   border-radius: 20px;
   border: 2px solid white;
}

button.filter:hover {
    background: -webkit-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: -moz-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: -o-linear-gradient(135deg, #7ac36e, #78c9b1);
    background: linear-gradient(135deg, #7ac36e, #78c9b1);
    color: white;
    border: 2px solid white;
}
