/* ------------------------------------ GENERAL */

.top {
    margin-top: 100px;
}

.error {
    text-align: center;
    color: #ffffff;
}

/* ------------------------------------ HEADERS AND TEXT */

h1.dne {
    font-size: 75px;
    font-weight: bold;
}

h2.dne {
    font-size: 40px;
}