/* ------------------------------------ HEADERS AND TEXT */

.end {
    color: #ffffff;
}

h3.end {
	margin-top: 25px;
	font-weight: bold;
}

/* ------------------------------------ HEADERS AND TEXT */

button.continue {
	margin-top: 25px;
}