/* ------------------------------------ ELEMENTS */

div.qform {
    width: 100%;
    margin: 100px auto 25px auto;
    text-align: center;
}

/* ------------------------------------ HEADERS AND TEXT */

h2.formh2 {
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}

/* ------------------------------------ FORM */

input.form-input {
    width: 100%;
    margin: 7px auto;
}

input.larger {
    height: 200px;
}

/* ------------------------------------ BUTTONS */

button.create {
    margin-top: 10px;
    padding: 5px 20px !important;
    font-size: 25px !important;
}